
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }

  body {
    background: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    background: white;
    width: 380px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    text-align: center;
  }

  h2 {
    color: #333;
    margin-bottom: 10px;
  }

  h4 {
    margin-bottom: 15px;
    color: #555;
  }

  select, input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    transition: 0.3s;
  }

  select:focus,
  input:focus {
    border-color: #6a11cb;
    outline: none;
  }

  button {
    width: 100%;
    padding: 12px;
    background: #6a11cb;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
  }

  button:hover {
    background: #2575fc;
  }

  .result {
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
  color: black;
  padding: 12px;
  background: #e9e3ff;
  border-radius: 10px;
  display: none; 
}



